.center80 {
    display: block;
    margin-inline: auto;
    max-width: 80%;
}

iframe.full {
    width: 100%;
    /*height: auto;*/
    /*min-height: 6rlh;*/
    display: block flow;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
}

.subst {
    margin-block: 0;
    padding: 0;
    display: block flow;
}

body.subst {
    margin-inline: 0;
}
